body {
    margin: 0 auto;
}
header {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: center;
}
.soc-icon {
    background-image: url(../img/hexagon-green.svg);
}